<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this_post.title}}</title>
</head>
<body>
    <div class="header">
        <p>placeholder greeting</p>
        <a href="/logout" class="button">Logout</a>
    </div>
    <div class="body">
        <div class="title">
            <div class="title_left">
                <h1>{{this_post.title}}</h1>
                <!-- needs to be formatted -->
                <h3>Created at :{{this_post.created_at}}</h3>
            </div>
            <div class="title_right">
                <h2>Created by: {{post_author.first_name}}</h2>
                <h3>Topic: {{this_post.topic}}</h3>
            </div>
            <div class="titlesidebar">
                <a href="/sports" class="button">Sports Hub</a>
            </div>
        </div>
        <div class="post">
            <p>{{this_post.post}}</p>
        </div>
        <div class="comment-section">
            <h1>Comments:</h1>
            <p>{{count}} comment(s)</p>
            <div class="comment-box">
                <form action="/add_comment/{{this_post.topic}}/{{this_post.id}}" method="post" id="form">
                    <textarea name="comment" form="form" cols="30" rows="10"></textarea>
                    <input type="submit" value="Post Comment">
                </form>
            </div>
            <div class="comments">
                {% for each_comment in comments %}
                <p>{{each_comment.comment}}</p>
                <p>{{each_comment.author.first_name}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>